.form__submit-button {
  color: #fff;
  background-color: #000;
  font-size: 18px;
  line-height: 1.22;
  height: 50px;
  margin-top: 18px;
  border-radius: 2px;
}

.form__submit-button:hover {
  cursor: pointer;
  opacity: .8;
}

@media screen and (max-width: 590px) {
  .form__submit-button {
    font-size: 14px;
    margin-top: 14px;
  }
}
