.card__caption {
  margin: 0;
  padding-left: 22px;
  font-weight: 900;
  font-size: 24px;
  line-height: 1.21;
  grid-area: caption;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
