@import url(./vendor/normalize.css);
@import url(./vendor/fonts/fonts.css);
@import url(./blocks/root/root.css);
@import url(./blocks/page/page.css);
@import url(./blocks/header/header.css);
@import url(./blocks/header/__logo/header__logo.css);
@import url(./blocks/content/content.css);
@import url(./blocks/profile/profile.css);
@import url(./blocks/profile/__edit-avatar/profile__edit-avatar.css);
@import url(./blocks/profile/__avatar/profile__avatar.css);
@import url(./blocks/profile/__info/profile__info.css);
@import url(./blocks/profile/__user-name/profile__user-name.css);
@import url(./blocks/profile/__edit-button/profile__edit-button.css);
@import url(./blocks/profile/__user-info/profile__user-info.css);
@import url(./blocks/profile/__button/profile__button.css);
@import url(./blocks/elements/elements.css);
@import url(./blocks/elements/__container/elements__container.css);
@import url(./blocks/card/card.css);
@import url(./blocks/card/__image/card__image.css);
@import url(./blocks/card/__caption/card__caption.css);
@import url(./blocks/card/__like-container/card__like-container.css);
@import url(./blocks/card/__like/card__like.css);
@import url(./blocks/card/__like/_active/card__like_active.css);
@import url(./blocks/card/__likes-counter/card__likes-counter.css);
@import url(./blocks/card/__delete/card__delete.css);
@import url(./blocks/popup/popup.css);
@import url(./blocks/popup/_opened/popup_opened.css);
@import url(./blocks/popup/_type/popup_type_full-image.css);
@import url(./blocks/popup/__form-container/popup__form-container.css);
@import url(./blocks/popup/__form-container/_type/popup__form-container_type_delete-card.css);
@import url(./blocks/popup/__form-container/_type/popup__form-container_type_edit-avatar.css);
@import url(./blocks/popup/__close-icon/popup__close-icon.css);
@import url(./blocks/popup/__image-container/popup__image-container.css);
@import url(./blocks/form/form.css);
@import url(./blocks/form/__title/form__title.css);
@import url(./blocks/form/__title/_type/form__title_type_delete-card.css);
@import url(./blocks/form/__input/form__input.css);
@import url(./blocks/form/__input/_type/form__input_type_error.css);
@import url(./blocks/form/__input-error/form__input-error.css);
@import url(./blocks/form/__submit-button/form__submit-button.css);
@import url(./blocks/form/__submit-button/_disabled/form__submit-button_disabled.css);
@import url(./blocks/form/__submit-button/_type/form__submit-button_type_delete-card.css);
@import url(./blocks/form/__submit-button/_type/form__submit-button_type_edit-avatar.css);
@import url(./blocks/footer/footer.css);
@import url(./blocks/footer/__text/footer__text.css);
@import url(./blocks/full-image/full-image.css);
@import url(./blocks/full-image/__image/full-image__image.css);
@import url(./blocks/full-image/__caption/full-image__caption.css);
